@import "./mixins.module.scss";

.city {
  border: 3px solid #ffffff;
  border-radius: 50px;
  width: 561px;
  height: 712px;
  margin: 100px auto;
  color: #ffffff;

  @include respond(phone) {
    width: 80%;
    height: 650px;
  }

  @include respond(phone-L) {
    height: 480px;
  }

  @include respond(phone-S) {
    height: 430px;
  }

  &_details {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    @include respond(phone-L) {
      padding-bottom: 10px;
    }

    &_name {
      font-size: 40px;
      @include respond(phone) {
        font-size: 30px;
      }

      @include respond(phone-L) {
        font-size: 20px;
      }

      @include respond(phone-S) {
        font-size: 17px;
      }
    }
    &_icon img {
      width: 76px;
      height: 75px;
      margin-right: -20px;

      @include respond(phone-L) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &_main {
    display: flex;
    justify-content: space-evenly;

    &_temp {
      align-self: center;
      font-size: 163px;

      @include respond(phone) {
        font-size: 130px;
      }

      @include respond(phone-L) {
        font-size: 80px;
      }

      @include respond(phone-S) {
        font-size: 70px;
      }
    }

    &_details {
      font-size: 22px;
      align-self: center;
      margin-top: -10px;

      @include respond(phone) {
        font-size: 17px;
      }

      @include respond(phone-L) {
        font-size: 12px;
      }

      @include respond(phone-S) {
        font-size: 10px;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }

  &_button_container {
    margin-top: -20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;

    @include respond(phone-L) {
      margin-top: 0;
    }

    .MuiSvgIcon-root {
      @include respond(phone-L) {
        height: 20px;
      }
    }
  }

  &_forecast {
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px 25px;
    height: 290px;

    @include respond(phone) {
      height: 240px;
    }

    @include respond(phone-L) {
      height: 200px;
    }

    @include respond(phone-S) {
      height: 180px;
    }

    &_title {
      font-size: 30px;
      padding-left: 10px;
      padding-top: 20px;

      @include respond(phone) {
        font-size: 20px;
      }

      @include respond(phone-L) {
        font-size: 15px;
      }

      @include respond(phone-S) {
        font-size: 13px;
      }
    }

    &_container {
      display: flex;
      justify-content: space-evenly;

      &_row {
        margin-top: 20px;
        font-size: 24px;

        @include respond(phone) {
          font-size: 20px;
        }

        @include respond(phone-L) {
          font-size: 15px;
        }

        @include respond(phone-S) {
          font-size: 12px;
        }

        p {
          padding-bottom: 20px;

          @include respond(phone-L) {
            padding-bottom: 15px;
          }
        }
      }
    }
  }
}
