.layout {
  background-color: #09095b;
  //   width: 1920px;
  //   height: 1080px;
  width: 100vw;
  height: 100vh;
  font-family: "Nunito", sans-serif;

  .header {
    height: 148px;
    background-color: #1c8dc8;
    border-bottom: 1px solid #707070;
    display: flex;
    align-items: center;

    p {
      color: #ffffff;
      font-size: 60px;
      padding-left: 75px;
    }
  }
}
